


html{
  background: url("BACKGROUND.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

button {
        outline: none;
        border:none;
        cursor: pointer;  
      }


.bounceTitle {
      position:relative;
      margin: auto;
/*      margin-left: 20%;*/
/*      padding-left: 22%;*/
      height:100%;
      width:100%;
      background-image: url("DOCTOR_D.png");
/*      background-color: red;*/
      background-repeat: no-repeat;
      -webkit-animation:bounceTitle 1s infinite;
      z-index: 1;
    }
    
    @-webkit-keyframes bounceTitle {
      0%       { top: -1%; }
      10%      { top: -4%; }
      20%      { top: -7%; }
      30%      { top: -10%; }
      40%      { top: -13%; }
      50%      { top: -16%; }
      60%      { top: -13%; }
      70%      { top: -10%; }
      80%      { top: -7%; }
      90%      { top: -4%; }
      100%     { top: -1%; }
    }


.cloud {
      position:fixed;
      top:150px;
      height:128px;
      width:200px;
      background-image: url("cloud.png");
      background-repeat: no-repeat;
      -webkit-animation:movecloud 15s linear infinite;
      z-index: 0;
    }
    
  @-webkit-keyframes movecloud {
    0% {margin-left: 100%;}
    100% {margin-left: -300px;}
  }

.cloud1 {
      position:fixed;
      top:100px;
      height:80px;
      width:200px;
      background-image: url("cloud1.png");
      background-repeat: no-repeat;
      -webkit-animation:movecloudOne 10s linear infinite;
      z-index: 0;
    }
    
  @-webkit-keyframes movecloudOne {
    0% {margin-left: -300px;}
    100% {margin-left: 100%;}
  }

.cloud2 {
      position:fixed;
      top:10px;
      height:200px;
      width:200px;
      background-image: url("cloud2.png");
      background-repeat: no-repeat;
      -webkit-animation:movecloudTwo 20s linear infinite;
      z-index: 0;
    }
    
  @-webkit-keyframes movecloudTwo {
    0% {margin-left: 100%;}
    100% {margin-left: -300px;}
  }



/* ##### LOG-IN PAGE ##### */



div.titleSpace{
  margin: 0 auto;
  margin-top: 6%;
  margin-bottom: 4%;
  width: 880px;
  height: 200px;
}

input[type=text], select {
  padding: 7px;
  display: inline-block;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
}

div.username{
  margin: auto;
  width: 585px; 
  height: 50px;
  margin-bottom: 1%;
  background-color: #1c2627;
  padding-top: 10px;
  padding-left: 10px;
  overflow: auto;
  background-image: url("border.png");
  background-repeat: no-repeat;
}

div.usernamePic{
  float: left;
  background-image: url("USERNAME.png");
  background-repeat: no-repeat;
  margin-left: 20px;
  margin-top: 3px;
  width: 297px;
  height: 40px;
  margin-right: 50px;
  background-size: 247.5px, 33.3px;
}

div.usernameForm{
  padding: 5px;
  float: left;
  width: 180px;
  height: 20px;
}

div.password{
  margin: auto;
  width: 585px; 
  height: 50px;
  margin-bottom: 1%;
  background-color: #1c2627;
  padding-top: 12px;
  padding-left: 10px;
  overflow: auto;
  background-image: url("border.png");
  background-repeat: no-repeat;
}

div.passwordPic{
  float: left;
  background-image: url("PASSWORD.png");
  background-repeat: no-repeat;
  margin-left: 20px;
  width: 297px;
  height: 40px;
  margin-right: 50px;
  background-size: 247.5px, 33.3px;
}

div.passwordForm{
  padding: 5px;
  padding-top: 2px;
  float: left;
  width: 180px;
  height: 20px;
}

div.logIn{
  text-align: center;
  margin: auto;
  margin-bottom: 1.5%;
  padding-top: 10px;
  padding-left: 10px;
  width: 585px; 
  height: 50px;
  background-color: #1c2627;  
  background-image: url("border.png");
  background-repeat: no-repeat;
}


button.LogInButton2{
  outline: none;
  width: 90%;
  height: 70%;
  
  background-repeat: no-repeat;
  background-size: 148px 32px;
  background-position: center;
  background-color: #1c2627;  
}



button.LogInButton{
  outline: none;
  width: 90%;
  height: 70%;
  background-image: url("LOG_IN.png");
  background-repeat: no-repeat;
  background-size: 148px 32px;
  background-position: center;
  background-color: #1c2627;  
}

div.logOut{
  text-align: center;
  margin: auto;
  margin-bottom: 1%;
  padding-top: 10px;
  width: 595px;
  height: 50px;
  background-color: #1c2627;  
  background-image: url("border.png");
  background-repeat: no-repeat;
}

button.LogOutButton{
  outline: none;
  width: 90%;
  height: 70%;
  background-image: url("LOG_OUT.png");
  background-repeat: no-repeat;
  background-size: 180px 32px;
  background-position: center;
  background-color: #1c2627;  
}

div.accAndGuestParent{
  margin: auto;
  width: 595px; 
  height: 80px;
  background-color: #1c2627;  
}

div.createAccParent, div.guestPlayParent{
  float: left;
  margin:auto;
  background-color: #1c2627;  
  width: 292px;
  height: 85px;
  background-position: center;
  padding-left: 5px;
  text-align: center;
  padding-top: 15px;
  background-image: url("border1.png");
  background-repeat: no-repeat;
}


button.createAccountButton{
  width: 70%;
  height: 70px;
  background-image: url("CREATE_ACCOUNT.png");
  background-repeat: no-repeat;
  background-size: 212.5px 71.6px;
  background-position: center;
  background-color: #1c2627;  
}

button.guestPlayButton{
  width: 70%;
  height: 70px;
  background-image: url("PLAY_AS_GUEST.png");
  background-repeat: no-repeat;
  background-size: 212.5px 71.6px;
  background-position: center;
  background-color: #1c2627;  
}
img.guestPlayButtonIMAGE{
  width: 70%;
  height: 70px;
}


/* ##### MENU PAGE ##### */


div.play{
  text-align: center;
  margin: auto;
  margin-bottom: 1%;
  padding-top: 10px;
  width: 595px;
  height: 50px;
  background-color: #1c2627;  
  background-image: url("border.png");
  background-repeat: no-repeat;
}

button.playButton{
  outline: none;
  width: 90%;
  height: 70%;
  background-image: url("PLAY.png");
  background-repeat: no-repeat;
  background-size: 111.6px 35px;
  background-position: center;
  background-color: #1c2627;  
}

div.leaderboard{
  text-align: center;
  margin: auto;
  margin-bottom: 1%;
  padding-top: 10px;
  width: 595px;
  height: 50px;
  background-color: #1c2627;  
  background-image: url("border.png");
  background-repeat: no-repeat;
}

button.leaderboardButton{
  outline: none;
  width: 90%;
  height: 70%;
  background-image: url("LEADERBOARD.png");
  background-repeat: no-repeat;
  background-size: 319.6px 35px;
  background-position: center;
  background-color: #1c2627;  
}

div.controls{
  text-align: center;
  margin: auto;
  margin-bottom: 1%;
  padding-top: 10px;
  width: 595px;
  height: 50px;
  background-color: #1c2627;  
  background-image: url("border.png");
  background-repeat: no-repeat;
}

button.controlsButton{
  outline: none;
  width: 90%;
  height: 70%;
  background-image: url("CONTROLS.png");
  background-repeat: no-repeat;
  background-size: 240px 35px;
  background-position: center;
  background-color: #1c2627;  
}



/* ##### CREATE ACCOUNT PAGE ##### */

div.createAccFillerSpace{
  margin: auto;
  margin-top: 1%;
  margin-bottom: 11.5%;
  width: 897px;
  height: 150px;
}


div.confirmPassword{
  margin: auto;
  width: 585px; 
  height: 90px;
  margin-bottom: 1%;
  background-color: #1c2627;
  padding-top: 12px;
  padding-left: 10px;
  overflow: auto;
  background-image: url("border2.png");
  background-repeat: no-repeat;
}

div.confirmPasswordPic{
  float: left;
  background-image: url("CONFIRM_PASSWORD.png");
  background-repeat: no-repeat;
  margin-left: 20px;
  width: 297px;
  height: 70px;
  margin-right: 50px;
  background-size: 230.5px 71.6px;
}

div.confirmPasswordForm{
  padding: 5px;
  padding-top: 20px;
  float: left;
  width: 180px;
  height: 20px;
}

.bounceCreateAccount {
      position:relative;
      height:100%;
      width:100%;
      background-image: url("TITLE_CREATE_ACCOUNT.png");
      background-repeat: no-repeat;
      -webkit-animation:bounceCreateAccount 1s infinite;
      z-index: 1;
    }
    
    @-webkit-keyframes bounceCreateAccount {
      0%       { top:95px; }
      10%      { top:100px; }
      20%      { top:105px; }
      30%    { top:110px; }
      40%      { top:115px; }
      50%      { top:120px; }
      60%      { top:115px; }
      70%      { top:110px; }
      80%    { top:105px; }
      90%    { top:100px; }
      100%     { top:95px; }
    }


div.confirmAndCancel{
  margin: auto;
  margin-bottom: 4%;
  width: 595px;
  height: 80px;
  background-color: #1c2627;  
}

div.confirmParent, div.cancelParent{
  float: left;
  margin:auto;
  background-color: #1c2627;  
  width: 50%;
  height: 85px;
  background-position: center;
  text-align: center;
  padding-top: 15px;
  background-image: url("border1.png");
  background-repeat: no-repeat;
}


button.confirmButton{
  width: 70%;
  height: 70px;
  background-image: url("CONFIRM.png");
  background-repeat: no-repeat;
  background-size: 222.5px 71.6px;
  background-position: center;
  background-color: #1c2627;  
}

button.cancelButton{
  width: 70%;
  height: 70px;
  background-image: url("CANCEL.png");
  background-repeat: no-repeat;
  background-size: 180.5px 65.6px;
  background-position: center;
  background-color: #1c2627;  
}


/* ##### LEADERBOARD PAGE ##### */

div.createLeaderboardFillerSpace{
  margin: auto;
  margin-top: 1%;
  margin-bottom: 11.5%;
  width: 669px;
  height: 150px;
}

.bounceLeaderboard {
      position:relative;
      height:100%;
      width:100%;
      background-image: url("TITLE_LEADERBOARD.png");
      background-repeat: no-repeat;
      -webkit-animation:bounceLeaderboard 1s infinite;
      z-index: 1;
    }
    
    @-webkit-keyframes bounceLeaderboard {
      0%       { top:95px; }
      10%      { top:100px; }
      20%      { top:105px; }
      30%      { top:110px; }
      40%      { top:115px; }
      50%      { top:120px; }
      60%      { top:115px; }
      70%      { top:110px; }
      80%      { top:105px; }
      90%      { top:100px; }
      100%     { top:95px; }
    }

div.NumberANDnameANDscore{
  margin: auto;
  width: 895px;
  height: 50px;
  background-color: #1c2627;
  margin-bottom: 1px; 
}

div.number, div.name, div.score{
  float: left;
  background-color: #1c2627;  
  width: 33.3%;
  height: 52px;
  padding-top: 10px;
  background-image: url("border3.png");
  background-repeat: no-repeat;
}

div.numberPic{
  width: 70%;
  height: 70%;
  background-image: url("NUMBER.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}

div.namePic{
  width: 70%;
  height: 70%;
  background-image: url("NAME.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}
div.scorePic{
  width: 70%;
  height: 70%;
  background-image: url("SCORE.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}

div.tableRow{
  margin: auto;
  width: 895px;
  height: 50px;
  background-color: #1c2627;  

}
div.cell{
  float: left;
  background-color: #1c2627;  
  width: 33.3%;
  height: 62px;
  background-image: url("border3.png");
  background-repeat: no-repeat;

}

div.first, div.second, div.third, div.four, div.five{
  width: 70%;
  height: 70%;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  padding-top: 15px;
}
div.first{
  background-image: url("FIRST.png");
}
div.second{
  background-image: url("SECOND.png");
}
div.third{
  background-image: url("THIRD.png");
}
div.four{
  background-image: url("FOUR.png");
}
div.five{
  background-image: url("FIVE.png");
}


div.textbox{
  width: 70%;
  height: 30%;
  padding-top: 15px;
  background-repeat: no-repeat;
  font-size: 30px;
  color: white;
  background-position: center;
  margin: auto;
  text-align: center;
}


/* ##### CONTROLS PAGE ##### */

div.createControlsSpace{
  margin: auto;
  margin-top: 1%;
  margin-bottom: 8.5%;
  width: 1012px;
  height: 150px;
}

div.bounceChangeControls{
      position:relative;
      height:100%;
      width:100%;
      background-image: url("TITLE_CHANGE_CONTROLS.png");
      background-repeat: no-repeat;
      -webkit-animation:bounceChangeControls 1s infinite;
      z-index: 1;
    }
    
    @-webkit-keyframes bounceChangeControls {
      0%       { top:95px; }
      10%      { top:100px; }
      20%      { top:105px; }
      30%    { top:110px; }
      40%      { top:115px; }
      50%      { top:120px; }
      60%      { top:115px; }
      70%      { top:110px; }
      80%    { top:105px; }
      90%    { top:100px; }
      100%     { top:95px; }
    }


div.fillerChangeControls{
  margin: auto;
  width: 90%;
  height: 30px;
  margin-bottom: 0.1%;
  padding-top: 10px;
  padding-left: 10px;
  overflow: auto;
}

div.movement{
  margin: auto;
  width: 585px; 
  height: 50px;
  margin-bottom: 0.5%;
  background-color: #1c2627;
  padding-top: 10px;
  padding-left: 10px;
  overflow: auto;
  background-image: url("border.png");
  background-repeat: no-repeat;
}

div.attack{
  margin: auto;
  width: 585px; 
  height: 50px;
  margin-top: 1.5%;
  margin-bottom: 0.5%;
  background-color: #1c2627;
  padding-top: 10px;
  padding-left: 10px;
  overflow: auto;
  background-image: url("border.png");
  background-repeat: no-repeat;
}


div.movementPic, div.attackPic{
  float: left;
  margin-left: 20px;
  margin-top: 3px;
  width: 297px;
  height: 40px;
  margin-right: 50px;
  
}

div.movementPic{
  background-image: url("MOVEMENT.png");
  background-repeat: no-repeat;
  background-size: 247.5px, 33.3px;
}

div.attackPic{
  background-image: url("ATTACK.png");
  background-repeat: no-repeat;
  background-size: 180px, 36px;
}

div.movementForm, div.attackForm{
  padding: 5px;
  float: left;
  width: 180px;
  height: 20px;
}

div.confirmAndCancelSmall{
  margin: auto;
  margin-bottom: 3%;
  width: 595px;
  height: 40px;
  background-color: #1c2627;  
}

div.confirmParentSmall, div.cancelParentSmall{
  float: left;
  margin:auto;
  background-color: #1c2627;  
  width: 50%;
  height: 55px;
  padding-top: 5px;
  background-position: center;
  text-align: center;

  background-image: url("border3.png");
  background-repeat: no-repeat;
}


button.confirmButtonSmall{
  width: 70%;
  height: 50px;
  background-image: url("CONFIRM.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 212.5px 33.3px;
  background-color: #1c2627;  
}

button.cancelButtonSmall{
  width: 70%;
  height: 50px;
  background-image: url("CANCEL.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 179.16px 33.3px;
  background-color: #1c2627;  
}

div.back{
  text-align: center;
  margin: auto;
  margin-bottom: 1%;
  padding-top: 10px;
  width: 595px;
  height: 50px;
  background-color: #1c2627;  
  background-image: url("border.png");
  background-repeat: no-repeat;
}

button.backButton{
  outline: none;
  width: 90%;
  height: 70%;
  background-image: url("BACK.png");
  background-repeat: no-repeat;
  background-size: 109.16px 32px;
  background-position: center;
  background-color: #1c2627;  
}



div.wrapper {
  margin: auto;
  width: 585px; 
  height: 50px;
 
  text-align: center;
}

.submitBuddon{
  display: block;
  margin:0 auto;
  text-align: center;
}