@font-face {
  font-family: 'MedievalSharp';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/medievalsharp/v12/EvOJzAlL3oU5AQl2mP5KdgptMqZwMjvX.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'MedievalSharp';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/medievalsharp/v12/EvOJzAlL3oU5AQl2mP5KdgptMqhwMg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
	background-color: #D9D9D9;
	color: #353535;
	font-family: "Monaco", "Courier New", Monospace;
}

 h1 {
 	text-align: center;
 	font-family: 'MedievalSharp';
 	font-size: 3em;
 }

#nav {
	width: 30%;
	float:left;
}

a:link {
	color: #353535;
}
a:visited {
	color: #284B63;
}
a:hover {
	color: #3C6E71;
}
a:active {
	color: #F9665E;
}

#navigation {
	border-right-style: solid;
	border-right-color: #F9665E;
	border-right-width: 2px;
	padding-right: 20px;
}

#tab {
	width:70%;
	float:right;
}

#maintable {
	
	width: 60%;
	border: 2px solid #353535;
	padding: 5px;
	text-align: center;
	border-collapse: collapse;
	border-radius: 25px;
}


hr {
	color: #F9665E;
}

th {
	color: #284B63;
	height: 50px;
}

tr {
	color: #3C6E71;
}
